/**** box active and deactive ****/ 
.active {
  display: block !important;
}
.deactive {
  display: none !important;
}
.wapper { margin:0 auto; }
.at-notify {
	margin: 10px 0px 20px 0px;
	width: auto;
	background-color: rgb(26, 43, 43);
	border-bottom: 4px solid #0fabea;
	color: #fff;
	padding-left:0px;
	overflow:hidden;
	padding:30px 0;
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}
.notify-btn{
  padding-top:20px;
}
.notify-btn a{
  margin-top:20px;
}
.btn-pro{
  padding-top:20px;
}
.at-notify h3{
    color:#fff;
	font-size:20px;
	margin-top:10px!important;
	text-transform:uppercase;
}
.at-notify h1{
	margin-top:0!important;
	font-size: 27px;
}
.at-notify h1 a{
    color:#fff;
	font-size:36px;
}
.at-notify h1 span{
	color:#0fabea;
}
.at-notify h4 span{
	color:#0fabea;
}
.at-notify h4 a{
    color:#fff;
	font-size:20px;
	margin-top:0!important;
}
.at-notify ul{
    margin-bottom: 0px;
    list-style: none outside none;
    padding: 0
}
.at-notify ul li{
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 0.8px;
    margin-right: 0px;
    padding:4px 0;
	margin-left:2px;
    vertical-align: top;
}
.at-notify ul li:before {
    content: "\f00c";
	color:#0fabea;
    font-family: FontAwesome;
    margin-right: 10px;
    margin-left: 1px;
    font-size: 14px;
}
/*-------Menu------*/
.header1{
    width:100%;
	background:rgb(26, 43, 43);
    border-bottom: 4px solid #0fabea;
    color: #ffffff;
    padding:10px 20px;
}
.footer{
    width:100%;
	background:#eee;
    color: rgb(26, 43, 43);
    padding:4px 10px !important;
	border:1px solid #ddd;
	margin-top:20px;
}
.footer-bottom{
    width:100%;
	background:rgb(26, 43, 43);
    color: #ffffff;
    padding:20px  !important;
}
.footer-bottom h2 {
    font-size:18px;
	margin:0 !important;
}
.footer-bottom h2 a{
    color: #fff;
	margin:0 10px;
}
.header h2{
  color:#fff;
  margin-top: 10px !important;
}
.logo a{
 color:#fff;
 text-shadow:0 0 1px;
 border-radius: 10px;
}
a.min-button {
    border-radius: 10px !important;
}
/*-----Content-inner------*/
.main-content{
 margin:20px 0;
 margin-right:0px !important;
 margin-left:0px !important;
} 
 
/*-----Sidebar------*/
.sidebar{
	margin-left:-10px;
	margin-right:10px;
}
/*----------------Full-Screen Editor------------------*/
.content_inner{
    margin-top: -5px;
    padding-right: 0px !important;
    padding-left: 0px !important; 
    background-color: #fff;
    border: 1px solid #cccccc;
} 
.section-title {
    font-weight:bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    border-bottom: 1px solid #D5D5D5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
    padding:16px;
    margin: 0 0px 25px;
}
.section-title h3 {
    margin:0 !important;
}
/*---Sidebar Nav--------*/
ul.nav-tab-wrapper{
 list-style:none;
}
ul.nav-tab-wrapper li a{
    background:rgb(26, 43, 43);
    color: #ffffff;
    line-height: 18px;
    display: block;
    font-size: 14px;
    position: relative;
    padding: 12px 10px;
	border-bottom: 1px solid #eee;
    margin: -6px;
}
.nav-tab-wrapper .active>a {
    background: none repeat scroll 0 0 #0fabea;
    color: #ffffff;
	border-bottom: 1px solid #0fabea;
    border-bottom: 0;
}
.nav-tab-wrapper > .active >a:after {
    border-bottom: 22px solid transparent;
    border-right: 19px solid rgb(26, 43, 43);
    border-top: 18px solid transparent;
    content: "";
    position: absolute;
    right:0px;
    top: 50%;
    margin-top: -19px;
}
ul.nav-tab-wrapper1{
 list-style:none;
}
ul.nav-tab-wrapper1 li a{
    color: #ffffff;
    line-height: 18px;
    display: block;
    font-size: 14px;
    position: relative;
    padding: 12px 10px;
	border-bottom: 1px solid #eee;
    margin: -6px;
}

.nav-tab-wrapper1 .active>a {
    background: none repeat scroll 0 0 #0074a2;
    color: #ffffff;
	border-bottom: 1px solid #0fabea;
    border-bottom: 0;
}
.nav-tab-wrapper1 > .active >a:after {
    border-bottom: 22px solid transparent;
    border-right: 19px solid #333;
    border-top: 18px solid transparent;
    content: "";
    position: absolute;
    right:0px;
    top: 50%;
    margin-top: -19px;
}
.section {
    padding: 10px 10px 0;
}
.heading {
    background: rgb(26, 43, 43);
    color: #fff;
    border: 1px solid rgb(26, 43, 43);
    border-bottom: 1px solid transparent;
    margin: 0;
    padding: 6px 10px;
}
.option {
    border: 1px solid #ccc;
    padding:16px;
}
.section .controls {
    float: left;
    min-width: 350px;
    width: 54%;
    padding-right: 2%;
}
input.of-radio {
    margin: 2px 10px 10px 0 !important;
    float: left;
    clear: both;
}
.section label {
    float: left;
    max-width: 90%;
    line-height: 16px;
    margin-bottom: 5px;
}
.footer-btn-section{
  padding:10px 20px;
}
.accordion-toggle span {
    margin-right: 10px;
    transition: all 0.3s ease 0s !important;
    float: right;
    line-height: 25px;
}
.panel-default > .panel-heading {
    background-color: #eee !important;
}	
.panel-heading {
    padding:8px 15px !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;
}
.panel{
    border-radius:0 !important;
}
/* Asiathemes default css 4/9/2016 */
.about-image img{ max-width:100%; }
.faq-text{
	font-size: 17px;
	color: #fff;
	margin-left: 10px;
}
.page-text{
	font-size: 17px;
	color:#fff;
	margin-left: 10px;
	text-align:left !important;
	line-height: 2;
}
.min-button{ padding: 8px 15px !important;
    margin: 0 !important;
    font-family: 'Lato' !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    background: none;
    margin-top: 30px !important; }
.min-button:hover{ 
    color: #fff !important;
    border: 2px solid #a0ce4e !important;
	background-color:#a0ce4e; }
	
.min-button-custom{color: #fff !important;
    border: 2px solid #fff !important;padding: 8px 15px !important;margin:15px 8px 0px; }
.min-button-custom:hover{ 
    color: #fff !important;
    border: 2px solid #a0ce4e !important;
	background-color:#a0ce4e; }
.price a {
    font-size: 21px !important;
}