/*-------Open Sans Fonts------------------------*/
@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold.ttf') format('truetype'),
         url('OpenSans-Bold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('OpenSans-Semibold.eot');
    src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         /* url('OpenSans-Semibold.woff') format('woff'), */
         url('OpenSans-Semibold.ttf') format('truetype'),
         url('OpenSans-Semibold.svg#OpenSansSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('OpenSans-Italic.eot');
    src: url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic.woff') format('woff'),
         url('OpenSans-Italic.ttf') format('truetype'),
         url('OpenSans-Italic.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         /* url('OpenSans-Regular.woff') format('woff'), */
         url('OpenSans-Regular.ttf') format('truetype'),
         url('OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BitterBold';
    src: url('Bitter-Bold.eot');
    src: url('Bitter-Bold.eot?#iefix') format('embedded-opentype'),
         url('Bitter-Bold.ttf') format('truetype'),
         url('Bitter-Bold.svg#BitterBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BitterRegular';
    src: url('Bitter-Regular.eot');
    src: url('Bitter-Regular.eot?#iefix') format('embedded-opentype'),
         /* url('Bitter-Regular.ttf') format('truetype'), */
         url('Bitter-Regular.svg#BitterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSansBold';
    src: url('FiraSans-Bold.eot');
    src: url('FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('FiraSans-Bold.ttf') format('truetype'),
         url('FiraSans-Bold.svg#FiraSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSansMedium';
    src: url('FiraSans-Medium.eot');
    src: url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('FiraSans-Medium.ttf') format('truetype'),
         url('FiraSans-Medium.svg#FiraSansMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
